body {
    margin: 0;
    background-image: url(basketball.jpg);
    background-size: cover;
}

.container {
    display: flex;
    justify-content: space-around;
}

h3 {
    font-size: large;
    text-align: center;
    color: white;

}

h4 {
    border: 10px solid blue;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    font-family: Cursed Timer ULiL;
    font-weight: 400;
    font-size: 90px;
    line-height: 126.67px;
    letter-spacing: 0%;
    text-align: center;
    color: red

}

button {
    border: 5px solid red;
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
    font-weight: bold;
    width: 100px;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#new-game-btn {
    margin-top: 100px;
}